$color-base: #333334;
$indent-base: 10px;

.container__banner {
  width: 80vw;
  margin: 0 auto;
  text-align: center;

  &__h1 {
    color: indigo;
    font-weight: bold;
    font-family: 'Roboto Thin', sans-serif;
    font-size: 60px;
    margin-top: calc(50% - 40px);
    padding: $indent-base;
  }
}
